@page
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="../Shared/_Layout.cshtml.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchedulingWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="home">
    <div id="modal-placeholder">
        <div id="courses" style="display:none;"></div>
        <div id="major" style="display:none;"></div>
    </div>
    <div class="body">
        <div>
            <header>
                Welcome To IT Course Select
            </header>
        </div>
        <div class="main">
            <main>
                <h1>About Tech</h1>
                <p>We prepare students for active participation, career advancement and leadership in the global 21st century society, 
                        and motivate them toward lives of significance and worth. Indiana Tech specializes in career-oriented degree programs in business, engineering, computer science, education, criminal justice, and others. 
                        In addition to the traditional semester-long class format, Indiana Tech also offers accelerated degree programs and online programs via its College of 
                        Professional Studies.</p>
            </main>
        </div>
        <div>
            <h2>What We Need From You !</h2>
            <div>
            </div>
        </div>
    </div>
</body>