@using SchedulingWebApp.Controllers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title>@ViewData["Title"] - SchedulingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <div class="layout">
        <nav class=" navbar contain border-right">
            <div class="container">
                <a href="../Home/Index"><img class="logo" src="~/images/ITShielfTransparent.png"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">  </span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="../Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../CourseTree/Index">Course Tree</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-btn" onclick="openMajorsLayout()">Major</button>
                        </li>
                        <li class="na-item">
                            @* <button id="coursesPopUpBtn" class="nav-btn" data-toggle="ajax-modal" data-target="#courses-Modal" data-url="@Url.Action("CoursesPopUp", "CoursesModal")">Courses</button> *@
                            @* <a class="nav-link"  href="/SchedulingWebApp/Pages/Shraed/_CoursesPartial.cshtml" rel="modal:open">Courses</a>  *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @* Content *@
        <div class="main contain">    
            @RenderBody()
        </div>

    </div>

    @* Footer  *@
    <div class="border-top footer ">
        <div>
            &copy; 2024 - SchedulingWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
@*
    <script>
        var majorsOpen = false;
        var coursesOpen = false;

        function openMajorsLayout() {
            majorsOpen = true;
            $('#majorsPartial').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("_MajorsPartial","CPController")',
                data: majorsOpen,
                error: function(e) {
                    console.log(e)
                },
                success: function(res) {
                    $("#majorsPartial").html(res)
                }
            });
        }

        function OpenCoursesLayout(e) {
            console.log('button clicked');
            var url = '/Index?handler=CoursesModalPartial';
            $.get(url).done(function(data) {
                //append HTML to doc, find modal and show
                $document.body.append(data).find('.modal').modal('show');
            });
        }

            /*
            e.preventDefault();
            var url = "/SchedulingWebApp/Pages/Shared/CoursesPartial.cshtml";
            $.ajax({
                type: "GET",
                url: url,
                error: function(e) {
                    console.log(e)
                },
                success: function(data) {
                    console.log("Partial Load!");
                    $('#coursesPartial').html(data);
                    $("#coursesModal").modal('show');
                }
            });
            */
            
    
    </script>
*@

</body>
</html>