
@model IEnumerable<SchedulingWebApp.Data.Model.Major>

@{
    Layout =null;
}
@{

}

    <div class="modal fade" id="majorsModal" asp-page-handler="MajorsPartial" tabindex="-1" role="dialog" area-labelledby="pickMajor">
        <div class="partialBody modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Select Major:</h1>
                    <button type="button" id="majorsClosePopUpBtn" class="close" data-dismiss="modal" area-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please select your major below:</p>
                    <form asp-asp-page-handler="MajorsPartial" class="containSelect" method="post">
                        <select id="major" name="major">
                            @foreach (var elem in Model){
                                <option asp-for="Major" value="@elem">@elem.major</option>
                            }
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="majorSave" class="btn-save" data-save="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
