
@model IndexModel

@{
    Layout =null;
}

    <div class="modal fade" id="majorsModal" asp-page-handler="MajorsPartial" tabindex="-1" role="dialog">
        <div class="partialBody modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Select Major:</h1>
                    <button id="majorsClosePopUp" type="button" class="closeModal" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Please select your major below:</p>
                    <form asp-asp-page-handler="MajorsPartial" class="containSelect">
                        <div class="majors">
                            <ul>
                                @foreach (var major in @Model.returnMajors())
                                {
                                    <li>
                                        <input type="checkbox" id="@Model.returnMajorInfo(0)"/>
                                        <label>major[id]</label>
                                    </li>
                                }
                            </ul>
                            
                        </div>
                        
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button id="majorSave" class="btn" data-save="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
