@page
@model IndexModel
@{
    ViewData[""] = "Course Tree";
}
<body>
<ul>
    <li>"@Model.returnCourseTest(24850)"</li>
    @* @foreach (var course in Model.CourseViewModel.Courses)
    {
        <li>
            <label for="@Model.FetchCourse()></label>
        </li>
    } *@
</ul>

</body>
